{% extends "layout.njk" %}
{% import "./component/navbar.njk" as navbar %}

{% block content %}

{{ navbar.setActive("quizes", loggedIn, username) }}

<main class="container">
	<h1>{{quiz.name}}</h1>
	<h2>{{quiz.username}}</h2>
	<p>{{quiz.description}}</p>

	<ul class="list-group">
	{% for question in questions %}
		<li class="list-group-item row">
			<div class="col front">
			{{question.front}}
			</div>
			<div class="col back">
			{{question.back}}
			</div>
		</li>
	{% endfor %}
	</ul>
	<div class="d-flex justify-content-between">
		<button class="left btn">Previous</button>
		<span class="counter">1/10</span>
		<button class="right btn">Next</button>
	</div>
</main>
<script src="/js/quiz.js"></script>
{% endblock %}