{% extends "layout.njk" %}
{% import "./component/navbar.njk" as navbar %}
{% import "./component/quiz_list.njk" as quiz_list %}


{% block content %}

{{ navbar.setActive("quizes", loggedIn, username) }}

<main class="container">
	<h1>Home</h1>
	<p>Welcome to the home page</p>
	{{ quiz_list.qList(quizes) }}
</main>

{% endblock %}