{% extends "layout.njk" %}
{% import "./component/navbar.njk" as navbar %}

{% block content %}

{{ navbar.setActive("quiz", loggedIn, username) }}

<main class="container">
    <h1>{{quiz.name}}</h1>
    <h2 class="mb-3">{{quiz.username}}</h2>
    <p>{{quiz.description}}</p>

    <div class="question_list">
        {% for question in questions %}
        <div class="question">
            <div class="question_inner">
                <div class="question_front">
                    {{question.front}}
                </div>
                <div class="question_back">
                    {{question.back}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-between">
        <button class="left btn">Previous</button>
        <span class="counter">1/10</span>
        <button class="right btn">Next</button>
    </div>
</main>
<script src="/js/quiz.js"></script>

{% endblock %}