{% extends "layout.njk" %}
{% import "./component/navbar.njk" as navbar %}

{% block content %}
{{navbar.setActive("user", loggedIn, username)}}

<main class="container">
	<h1> {{ username }}</h1>
	<a href="/user/{{ username }}/new">create tweep</a>
</main>

{% endblock %}