{% extends "layout.njk" %}
{% import "./component/navbar.njk" as navbar %}
{% import "./component/quiz_list.njk" as quiz_list %}

{% block content %}
{{navbar.setActive("user", loggedIn, username)}}

<main class="container">
	<h1> {{ username }}</h1>
	<a href="/quiz/new" class="mb-3">create quiz</a>
	
	<form action="/user/{{username}}/delete" method="post">
		<button type="submit" class="btn btn-danger">delete account</button>
	</form>

	<div>my quizes</div>
	{{quiz_list.qList(quizes)}}
</main>

{% endblock %}