{% macro setActive(currentPage='index', loggedIn='false', username='') %}
<nav class="">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			{% if currentPage == "index" %}

				<a class="nav-link active" aria-current="page" href="/">Home</a>

			{% else %}

				<a class="nav-link" href="/">Home</a>

			{% endif %}
		</li>

		<li class="nav-item">
			{% if currentPage == "quiz" %}

				<a class="nav-link active" aria-current="page" href="/quiz">Quizes</a>

			{% else %}

				<a class="nav-link" href="/quiz">Quizes</a>

			{% endif %}
		</li>

		<form action="/quiz/search" class="d-flex" method="get">
			<input name="q" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
			<button for="q" class="btn btn-outline-success" type="submit">Search</button>
		</form>

	{% if currentPage == "user" %}

		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/user/{{username}}">User</a>
		</li>

	{% elif loggedIn == true %}

		<li class="nav-item">
			<a class="nav-link" href="/user/{{username}}">User</a>
		</li>

	{% else %}

		<li class="nav-item">
			{% if currentPage == "login" %}
				<a class="nav-link active" aria-current="page" href="/login">Login</a>
			{% else %}
				<a class="nav-link" href="/login">Login</a>
			{% endif %}
		</li>

		<li class="nav-item">
			{% if currentPage == "register" %}
				<a class="nav-link active" aria-current="page" href="/register">Register</a>
			{% else %}
				<a class="nav-link" href="/register">Register</a>
			{% endif %}
		</li>

	{% endif %}

  </ul>
</nav>
{% endmacro %}
